.main {
  position: fixed;
  background-color: #fff;
  width: 50rem;
  height: 40rem;
  z-index: 1000000000;
  left: calc(50% - 300px);
  top: 20%;
  transition: .1s;
}


.view {

}

.notifications {

}

.apps {

}
