.input {}

.input:active, .input:focus {
    outline: none;
}

.input.red {
    border: 2px solid red;
}

.input.green {
    border: 2px solid green;
}

.input.bold {
    border: 3px solid darkgreen;
}