li.tool  {
    color: #000!important;
}

.main__navbar {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    //margin-left: 300px;
    align-items: center;
    box-shadow: 0px 1px 7px #00000024;
    margin-bottom: 2rem;
}

.user-avatar {
    display: block;
}

.tools {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool {
    font-size: 25px;
    margin-left: 25px;
    padding: 10px;
    transition: .4s;
}

.tool:hover {
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -3px 2px 5px #0000001f
}


.tools-list {
    display: flex;
}


.base {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-right: 5px;
    transition: .4s;
}

.user-info:hover   {
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 8px;
}

.user-info-checked {
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 8px;
}

.user-info-checked:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 8px;
}


.user-img {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin: 3px 20px 0 5px;
}

.action {
    font-size: 18px;
    padding: 10px;
    position: relative;
    margin-right: 15px;
    transition: .4s;
}

.action:hover {
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -3px 2px 5px #0000001f
}


.user-credentails {
    font-size: 14px;
    padding: 0 5px 0 0;
}


.user-role {
    font-size: 12px;
    text-align: right;
}

.user-name {
    font-weight: 600;
    margin-bottom: 2px;
}

.dropdown {
    display: flex;
    position: absolute;
    background-color: #fff;
    top: 66px;
    right: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px -2px 4px 5px #0000000f;
    z-index: 10;
}

.dropdown-menu {
    display: block;
    transition: .5s;
}

.dropdown-item {
    padding: 20px;
}


.dropdown-item:hover {
    cursor: pointer;
}

.settings::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1de";
    margin-right: 10px;
    font-size: 22px;
    vertical-align: middle;
}

.logout::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2f5";
    margin-right: 10px;
    font-size: 25px;
    vertical-align: middle;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.secIn {
    animation-duration: .5s;
}

.secOut {
    animation-duration: .2s;
}

.lang:first-child {
   margin: 0;
}

.lang {
    margin-right: 10px;
}