@import "styles/variables";
@import "styles/mixin";
@import "styles/fonts";

body {
  background-color: #f6f7f9;
}


p, span, div, h1, h2, h3, h4 {
  font-family: $main-font-1;
}

a {
  font-family: $main-font-1;
}

a:hover {
  color: white;
  text-decoration: none;
}

.logout {
  position: absolute;
  right: 25em;
  top: -5px;
}

.container {
margin-left: 300px;
}
