.main-btn {
    border: 1px solid white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: .4s;
}
.main-btn-link {
    transition: .4s;
}

.main-btn:hover  {
    background-color: white;
    cursor: pointer;
}

.main-btn:hover .main-btn-link {
    color: black;
}