@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
  font-family: 'Verdana';
  src: local('Verdana'), url(../../../fonts/Verdana.woff2) format('woff2');
}