//here will be mixins

@mixin flex-center-all{
  display: flex;
  justify-content: center;
  align-items: center
}

@mixin margin-auto-corners {
    margin-left: auto;
    margin-right: auto;
}

@mixin position-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}