$main-font-1: 'Montserrat', sans-serif;
$main-font-2: 'Lato', sans-serif;
$main-font-3: 'Verdana', sans-serif;

$wh-color: #fff;
$wh-important: #fff!important;
$bl-color: #000;
$section-color: #333;
$bg-color: #fff;




