/*.container {*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

.todo-app {
    margin: 5rem auto 0 auto;
    max-width: 8800px;
    width: 1004px;
    position: absolute;
    left: 58%;
    top: 20%;
    transform: translate(-50%, -50%);
}

/*body {*/
/*    margin: 0;*/
/*    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
/*    font-size: 1rem;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*    color: #212529;*/
/*    text-align: left;*/
/*    background-color: #fff;*/
/*}*/

.noData {
    padding: 5rem;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px 3px 3px #4da3b885;
}