.navbar {
    display: flex;
    padding-top: 2.5rem;
    padding-right: 3rem;
}

.navbar-nav {
    display: block;
    transition: .5s;
}

.navbar-nav-link {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
}

.navbar-nav:hover {
    transform: scale(1.2);
}
.navbar-nav:hover .navbar-nav-link{
    text-shadow: -5px -5px 4px white;
}