.main__stats {
    display: inline-block;
    background-color: #fff;
    width: 25rem;
    height: 12rem;
    padding: 1rem;
    margin: 2rem;
    position: relative;
    border-radius: 7px;
    box-shadow: -3px 4px 5px 2px #0000003d;
    box-sizing: content-box;
}

.title {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 1rem;
}

.counter {
    display: block;
    font-size: 50px;
    margin-bottom: 1.5rem;
}

.graphs {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
}

.graph {
    background-color: #61dafb;
    margin: 8px;
    width: 42px;
    max-height: 100px;
}

.numbers {
    display: flex;
    align-items: baseline;
}

.arrow {
    margin-left: 10px;
    color: #249f24;
    font-size: 30px
}

.goals {
    display: flex;
    align-items: center;
}

.target-number {
    margin-left: 10px;
}