a {
    color: #fff;
    text-decoration: none;
}


.main__sidebar {
    height: 100vh;
    width: 300px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    background-color: #121212;
    z-index: 1000;
    position: fixed;
    top: 0;

    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header {
    color: #fff;
    background-color: #192d3e;
    height: 12rem;
    margin-bottom: 40px;
}

.user-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px #000;
    transition: .4s;
}

.user-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logo {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
}

.user {
    text-align: center;
}

.user-info {
    margin-bottom: 20px;
}

.bottom-list {

}

.bottom-info {
    text-align: center;
    color: #c6c6c6;
    margin-bottom: 20px;
}

.bottom-item {
    display: flex;
    color: #fff;
}


.bottom-link {
    width: calc(100% - 50px);
    padding: 10px 12px 10px 24px;
    color: #fff;
}

.bottom-link:hover {
    background-color: #1e1e1e;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.users::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    margin-right: 15px;
    font-size: 14px;
}

.check::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    margin-right: 15px;
    font-size: 14px;
}

.calendar::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
    margin-right: 15px;
    font-size: 14px;
}

.dashboard::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0db";
    margin-right: 15px;
    font-size: 14px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}


