.container {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50rem;
    height: 30rem;
    border-radius: 0.1875rem;
    box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.register-container {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 55rem;
    height: 45rem;
    border-radius: 0.1875rem;
    box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.logo,
.logo-content,
.logo-links {
    position: relative;
    z-index: 2;
}


.logo {
    align-self: flex-start;
}

.logo-text {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
}

.content {
    align-self: baseline;
    position: relative;
    z-index: 99;
}

.primary {
    margin-bottom: 2rem;
    font-size: 1.999rem;
}


.secondary {
    font-size: 1.414rem;
}

.inline {
    text-align: center;
    margin-top: 2rem;
}

.overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000f2182;
    opacity: 0.8;
}


.child {
    width: 50%;
    height: 100%;
    color: #fff;
}

.signup{
    padding: 2.5rem;
    background: #fafafa;
}


.off {
    display: none!important;
}


.signInForm {
    padding-top: 4rem;
}

#go {
    position: absolute;
    z-index: 9999999;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 20;
}



.signup-thumbnail {
    position: relative;
    padding: 2rem;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    background: url(http://ultraimg.com/images/spectre-login.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


.logo-shape {
    fill: #fff;
}




.links {
    align-self: flex-end;
    width: 100%;
}

.links a {
    font-size: 1rem;
    color: #fff;
}
.links a:focus, .links a:hover {
    color: rgba(255, 255, 255, 0.5);
}

label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
}

.controlz {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.controlz:focus {
    border-color: #111;
}

[type="text"] {
    color: #111;
}

[type="password"] {
    color: #111;
}

.btn-form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff!important;
    background: #111!important;
    border-radius: 2.1875rem;
}
.btn-form:focus {
    background: #323232;
}

.btn-form:hover {
    color: #b4c0cc!important;
    text-decoration: none;
    background-color: #232930!important;

}

.signup-link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #fff!important;
}
.signup-link:focus, .signup-link:hover {
    color: #787878;
}

.group {
    margin-bottom: 1rem!important;
}

.control {
    margin-top: 1rem!important;
}