body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url("../main/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow-y: hidden;


}

a {
    color: #ffffffcc;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1650px;
    width: 1650px;
    margin: 0 auto;
    padding: 0 10px;
}

